<div class="gazette-catagory-posts-area">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <!-- Single Catagory Post -->
                <div class="gazette-single-catagory-post">
                    <div class="single-catagory-post-thumb mb-15">
                        <img src="/NewsTemplate/img/blog-img/12.jpg" alt="">
                    </div>
                    <!-- Post Tag -->
                    <div class="gazette-post-tag">
                        <a href="#">Video</a>
                    </div>
                    <h5><a href="#" class="font-pt">Save the eniroment with this step</a></h5>
                    <span>Nov 29, 2017</span>
                </div>
                <!-- Single Catagory Post -->
                <div class="gazette-single-catagory-post">
                    <h5><a href="#" class="font-pt">Protest to be anounced in January</a></h5>
                    <span>Nov 29, 2017</span>
                </div>
                <!-- Single Catagory Post -->
                <div class="gazette-single-catagory-post">
                    <h5><a href="#" class="font-pt">10 Bills that the Congress in voting</a></h5>
                    <span>Nov 29, 2017</span>
                </div>
                <!-- Single Catagory Post -->
                <div class="gazette-single-catagory-post">
                    <h5><a href="#" class="font-pt">The narcissism of Donald Trump</a></h5>
                    <span>Nov 29, 2017</span>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <!-- Single Catagory Post -->
                        <div class="gazette-single-catagory-post">
                            <div class="single-catagory-post-thumb mb-15">
                                <img src="/NewsTemplate/img/blog-img/14.jpg" alt="">
                            </div>
                            <!-- Post Tag -->
                            <div class="gazette-post-tag">
                                <a href="#">Others</a>
                            </div>
                            <h5><a href="#" class="font-pt">11 hottest toys for this holiday season</a></h5>
                            <span>Nov 29, 2017</span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <!-- Single Catagory Post -->
                        <div class="gazette-single-catagory-post">
                            <div class="single-catagory-post-thumb mb-15">
                                <img src="/NewsTemplate/img/blog-img/15.jpg" alt="">
                            </div>
                            <!-- Post Tag -->
                            <div class="gazette-post-tag">
                                <a href="#">Video</a>
                            </div>
                            <h5><a href="#" class="font-pt">Get this good feeling about life</a></h5>
                            <span>Nov 29, 2017</span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <!-- Single Catagory Post -->
                        <div class="gazette-single-catagory-post">
                            <div class="single-catagory-post-thumb mb-15">
                                <img src="/NewsTemplate/img/blog-img/16.jpg" alt="">
                            </div>
                            <!-- Post Tag -->
                            <div class="gazette-post-tag">
                                <a href="#">Interview</a>
                            </div>
                            <h5><a href="#" class="font-pt">Get this good feeling about life</a></h5>
                            <span>Nov 29, 2017</span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <!-- Single Catagory Post -->
                        <div class="gazette-single-catagory-post">
                            <div class="single-catagory-post-thumb mb-15">
                                <img src="/NewsTemplate/img/blog-img/17.jpg" alt="">
                            </div>
                            <!-- Post Tag -->
                            <div class="gazette-post-tag">
                                <a href="#">Video</a>
                            </div>
                            <h5><a href="#" class="font-pt">11 hottest toys for this holiday season</a></h5>
                            <span>Nov 29, 2017</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <!-- Single Catagory Post -->
                <div class="gazette-single-catagory-post">
                    <div class="single-catagory-post-thumb mb-15">
                        <img src="/NewsTemplate/img/blog-img/13.jpg" alt="">
                    </div>
                    <!-- Post Tag -->
                    <div class="gazette-post-tag">
                        <a href="#">Video</a>
                    </div>
                    <h5><a href="#" class="font-pt">10 Bills that the Congress in voting</a></h5>
                    <span>Nov 29, 2017</span>
                </div>
                <!-- Single Catagory Post -->
                <div class="gazette-single-catagory-post">
                    <h5><a href="#" class="font-pt">Blair can't save Britain from Brexit</a></h5>
                    <span>Nov 29, 2017</span>
                </div>
                <!-- Single Catagory Post -->
                <div class="gazette-single-catagory-post">
                    <h5><a href="#" class="font-pt">Save the eniroment with this step</a></h5>
                    <span>Nov 29, 2017</span>
                </div>
                <!-- Single Catagory Post -->
                <div class="gazette-single-catagory-post">
                    <h5><a href="#" class="font-pt">Protest to be anounced in January</a></h5>
                    <span>Nov 29, 2017</span>
                </div>
            </div>
        </div>
    </div>
</div>