@using System.Text.Encodings.Web;
@{
    var currentUrl = UrlEncoder.Default.Encode(Context.Request.Path);

}




<div class="middle-header">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <!-- Logo Area -->
            <div class="col-12 col-md-4">
                <div class="logo-area">
                    <a asp-controller="Home" asp-action="Index"><img src="/NewsTemplate/img/core-img/logo.png" alt="logo"></a>
                </div>
            </div>
            <!-- Header Advert Area -->
            <div class="col-12 col-md-8">
                <div class="header-advert-area">
                    <a href="#"><img src="/NewsTemplate/img/bg-img/top-advert.png" alt="header-add"></a>
                </div>
            </div>
            <div class="text-end">
                @if (Context.Session.GetInt32("UserId") == null)
                {
                    <a asp-controller="Auth" asp-action="Login" asp-route-redirectUrl="@currentUrl" class="btn btn-outline-primary">Giriş</a>
                    <a asp-controller="Auth" asp-action="Register" class="btn btn-warning">Kayıt Ol</a>
                }
                else
                {
                    <a asp-controller="Auth" asp-action="Logout" class="btn btn-danger">Oturumu Kapat</a>
                }
            </div>
        </div>
    </div>
</div>
<a href=""></a>